**/node_modules
**/.pnpm-store

**/.next
**/dist
**/.turbo
**/.cache

.git
.gitignore
.github

**/.env.local
**/.env.development
**/.env.test

.serena
.claude
.agents
**/*.log
**/README.md
**/DOCUMENTATION.md

.vscode
.idea
**/.DS_Store
